@font-face {
  font-family: "normalSans";
  src: url("../assets/Alphotoshop.com_TheSans-Bold.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BoldSans";
  src: url("../assets/Alphotoshop.com_TheSans-Plain (2).otf") format("truetype");
  font-weight: 400;
}

.App {
  // width: 100vw;
  // height: 100vh;
  text-align: center;
  // overflow-y: auto;
  overflow-x: hidden;
  // overflow-y: overlay;
  padding: 0;
  z-index: 10;
}

// .App::-webkit-scrollbar {
//   width: 12px;
// }

// .App::-webkit-scrollbar-track {
//   background-color: transparent;
// }
// .App::-webkit-scrollbar-thumb {
//   border-radius: 3px;
//   background-color: #c3a0b9;
// }
