section.video {
  margin-top: 140px;
  margin-bottom: 40px;
  @media screen and (max-width: 992px) {
    margin-top: 120px;
  }

  h1 {
    margin-bottom: 48px;
    color: #7e577a;
    font-size: 48px;
    font-weight: bold;
  }

  iframe {
    border-radius: 12px;
    box-shadow: 0px 15px 0px #7e577a;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}
